# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include ebb_extruder.cfg]
[include eddy.cfg]  # BTT Eddy Duo probe on CAN (replaces the inductive probe)
[include mainsail.cfg]
#[include sensorless.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include calibration.cfg]  # one-plate filament calibration suite (tools/calsuite.py)
[skew_correction]
[exclude_object]
[auto_speed]
margin: 20
settling_home: 1      ; Perform settling home before starting Auto Speed
max_missed: 20.0       ; Maximum full steps that can be missed
endstop_samples: 2

[force_move]
enable_force_move: True

[stepper_x]
step_pin: PE9
dir_pin:  PF1
enable_pin: !PF2
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: PB10
rotation_distance: 39.7 #40*114.14/115
microsteps: 128
full_steps_per_rotation: 200  
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: false
run_current: .8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PB10    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 45 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PE11
dir_pin:  PE8
enable_pin: !PD7
rotation_distance: 39.66 #40*114.04/115
microsteps: 128
full_steps_per_rotation:200  
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: PE12
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0


[tmc2209 stepper_y]
uart_pin: PE3
interpolate: false
run_current: .8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PE12    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 45 # 255 is most sensitive value, 0 is least sensitive

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]

step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
endstop_pin: probe:z_virtual_endstop #PG8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#position_endstop: -2.65
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PE14
dir_pin: !PA0
enable_pin: !PC3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


[tmc2209 stepper_z2]
uart_pin: PD1
interpolate: false
run_current:  0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PD13
dir_pin: !PG9
enable_pin: !PF0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0
sensor_type: Generic 3950
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


# Inductive probe on EBB PB9, retired 2026-10-07 (replaced by the Eddy Duo, eddy.cfg)
#[probe]
#pin: ~!EBBCan:PB9
#x_offset: 0
#y_offset: 25.0
##z_offset: 2.650
#speed: 5
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.015
#samples_tolerance_retries: 10


##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PE6
kick_start_time: 0.5
heater: heater_bed

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_<MCU_SERIAL>-if00

[input_shaper]
#shaper_freq_x: 71.2 #Hz
#shaper_type_x: 3hump_ei 
#shaper_freq_y: 30.4
#shaper_type_y: mzv

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[gcode_arcs]
resolution: 0.5
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
# After 30 min idle: heaters off now, motors off 90 min later (2 h total) unless the
# printer was used again. Keeping motors on preserves homing/QGL between prints.
gcode:
    TURN_OFF_HEATERS
    UPDATE_DELAYED_GCODE ID=_DELAYED_MOTORS_OFF DURATION=5400

[homing_override]
axes: xyz
gcode:
    # Sensorless XY homing: low current, stall flag settle time, back-off between axes.
    # SGTHRS comes from driver_SGTHRS in the [tmc2209] sections (nothing overrides it at runtime).
    {% set HOME_CUR = 0.8 %}
    {% set x_run = printer.configfile.settings['tmc2209 stepper_x'].run_current %}
    {% set y_run = printer.configfile.settings['tmc2209 stepper_y'].run_current %}
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

    # Lift the nozzle before moving XY, only if Z position is unknown
    # If Z is already homed and near the top, come down first: the tight cable chain
    # at full height can make sensorless X/Y homing stall early.
    {% if 'z' in printer.toolhead.homed_axes and printer.toolhead.position.z > 150 %}
        G90
        G0 Z150 F900
    {% endif %}

    {% if home_all and 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z
        G91
        G0 Z10 F600
        SET_KINEMATIC_POSITION SET_HOMED=none CLEAR_HOMED=Z
    {% endif %}
    G90

    {% if home_all or 'X' in params %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        G4 P2000
        G28 X
        G0 X290 F3600
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run}
    {% endif %}

    {% if home_all or 'Y' in params %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        G4 P2000
        G28 Y
        G0 Y290 F3600
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run}
    {% endif %}

    {% if home_all or 'Z' in params %}
        G0 X150 Y150 F6000
        G28 Z
        SET_Z_FROM_PROBE           ; eddy homing correction (eddy.cfg)
        G0 Z20 F600
    {% endif %}

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,50
   50,250
   250,250
   250,50

speed: 75
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0150
max_adjust: 10

[bed_mesh]
##----------------------300mm build-------------------------------------
speed: 500
horizontal_move_z: 2         # eddy (was 10 for the inductive probe)
adaptive_margin: 15
mesh_min: 25, 25
mesh_max: 275, 275
zero_reference_position: 150,171.4 # eddy XY when Z homes (nozzle at 150,150, eddy y_offset 21.42)
fade_start: 0.6
fade_end: 10.0
probe_count: 9,9 # ~31 mm spacing; adaptive meshes keep this spacing
algorithm: bicubic
##--------------------------------------------------------------------


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

##  Mini12864 (FYSETC / BTT) on EXP1/EXP2
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2
menu_timeout: 40

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

[output_pin beeper]
pin: EXP1_1

#--------------------------------------------------------------------

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.177489, 0.319989, 0.342489, 0.424989, 0.549989, 0.712489, 0.737489
#*# 	-0.120011, -0.050011, 0.037489, 0.107489, 0.039989, -0.045011, -0.097511
#*# 	-0.402511, -0.197511, -0.042511, 0.134989, 0.064989, -0.325011, -0.617511
#*# 	-0.515011, -0.220011, -0.110011, -0.000011, -0.097511, -0.387511, -0.685011
#*# 	-0.595011, -0.267511, 0.062489, 0.119989, -0.020011, -0.360011, -0.805011
#*# 	-0.485011, -0.155011, 0.144989, 0.269989, 0.152489, -0.030011, -0.645011
#*# 	-0.260011, -0.052511, 0.279989, 0.452489, 0.312489, -0.035011, -0.220011
#*# x_count = 7
#*# y_count = 7
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 274.96
#*# min_y = 25.0
#*# max_y = 274.96
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 77.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.6
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.273
#*# pid_ki = 1.179
#*# pid_kd = 326.951
#*#
#*# [bed_mesh check]
#*# version = 1
#*# points =
#*# 	0.156344, 0.171344, 0.201344, 0.266344, 0.253844, 0.263844, 0.208844, 0.193844, 0.261344
#*# 	-0.301156, -0.136156, -0.026156, 0.006344, 0.021344, -0.013656, -0.078656, -0.136156, -0.286156
#*# 	-0.516156, -0.391156, -0.158656, -0.071156, 0.008844, -0.118656, -0.223656, -0.371156, -0.606156
#*# 	-0.753656, -0.503656, -0.226156, -0.026156, 0.033844, 0.011344, -0.371156, -0.563656, -0.838656
#*# 	-0.846156, -0.593656, -0.263656, -0.161156, -0.101156, -0.171156, -0.331156, -0.613656, -0.966156
#*# 	-0.976156, -0.558656, -0.308656, -0.066156, 0.023844, -0.138656, -0.298656, -0.686156, -1.103656
#*# 	-0.966156, -0.558656, -0.241156, 0.036344, 0.141344, 0.013844, -0.266156, -0.546156, -1.133656
#*# 	-0.743656, -0.483656, -0.088656, 0.178844, 0.293844, 0.213844, 0.006344, -0.451156, -0.963656
#*# 	-0.476156, -0.293656, 0.018844, 0.328844, 0.458844, 0.368844, 0.081344, -0.293656, -0.531156
#*# x_count = 9
#*# y_count = 9
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 25.0
#*# max_x = 275.0
#*# min_y = 25.0
#*# max_y = 275.0
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3179497.107,0.090000:3179462.364,0.130000:3179422.381,
#*# 	0.170000:3179381.633,0.210000:3179330.277,0.250000:3179255.573,
#*# 	0.290000:3179193.631,0.330000:3179141.550,0.370000:3179060.358,
#*# 	0.410000:3178925.886,0.450000:3178792.194,0.490000:3178669.378,
#*# 	0.530000:3178535.343,0.570000:3178411.481,0.610000:3178290.700,
#*# 	0.650000:3178175.529,0.690000:3178056.976,0.730000:3177943.264,
#*# 	0.770000:3177814.389,0.810000:3177705.967,0.850000:3177595.049,
#*# 	0.890000:3177474.421,0.930000:3177354.240,0.970000:3177246.988,
#*# 	1.010000:3177139.592,1.050000:3177033.401,1.090000:3176926.500,
#*# 	1.130000:3176826.733,1.170000:3176718.915,1.210000:3176612.109,
#*# 	1.250000:3176505.454,1.290000:3176415.442,1.330000:3176311.412,
#*# 	1.370000:3176218.621,1.410000:3176122.073,1.450000:3176027.373,
#*# 	1.490000:3175935.999,1.530000:3175843.177,1.570000:3175755.243,
#*# 	1.610000:3175661.191,1.650000:3175573.107,1.690000:3175485.910,
#*# 	1.730000:3175397.151,1.770000:3175315.096,1.810000:3175233.168,
#*# 	1.850000:3175151.049,1.890000:3175066.198,1.930000:3174984.205,
#*# 	1.970000:3174904.339,2.010000:3174828.712,2.050000:3174747.523,
#*# 	2.090000:3174674.385,2.130000:3174597.480,2.170000:3174520.862,
#*# 	2.210000:3174444.051,2.250000:3174380.805,2.290000:3174302.798,
#*# 	2.330000:3174234.735,2.370000:3174163.545,2.410000:3174097.381,
#*# 	2.450000:3174028.080,2.490000:3173962.004,2.530000:3173889.928,
#*# 	2.570000:3173829.199,2.610000:3173761.221,2.650000:3173694.567,
#*# 	2.690000:3173643.791,2.730000:3173577.969,2.770000:3173514.955,
#*# 	2.810000:3173449.953,2.850000:3173393.140,2.890000:3173331.667,
#*# 	2.930000:3173272.409,2.970000:3173211.047,3.010000:3173155.557,
#*# 	3.050000:3173095.726,3.090000:3173033.813,3.130000:3172984.958,
#*# 	3.170000:3172928.310,3.210000:3172880.941,3.250000:3172814.301,
#*# 	3.290000:3172761.680,3.330000:3172710.149,3.370000:3172655.418
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 36.449108
