# This file contains common pin mappings for the BigTreeTech SKR PRO.
# To use this config, the firmware should be compiled for the
# STM32F407 with a "32KiB bootloader".

# The "make flash" command does not work on the SKR PRO. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR PRO
# with that SD card.

# See docs/Config_Reference.md for a description of parameters.
[include ebb_extruder.cfg]
[include eddy.cfg]  # BTT Eddy Duo probe on CAN (replaces the inductive probe)
[include mainsail.cfg]
#[include sensorless.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[include calibration.cfg]  # one-plate filament calibration suite (tools/calsuite.py)
[skew_correction]
[exclude_object]
[auto_speed]
margin: 20
settling_home: 1      ; Perform settling home before starting Auto Speed
max_missed: 20.0       ; Maximum full steps that can be missed
endstop_samples: 2

[force_move]
enable_force_move: True

[stepper_x]
step_pin: PE9
dir_pin:  PF1
enable_pin: !PF2
endstop_pin: tmc2209_stepper_x:virtual_endstop
#endstop_pin: PB10
rotation_distance: 39.7 #40*114.14/115
microsteps: 128
full_steps_per_rotation: 200  
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0

##  Make sure to update below for your relevant driver (2208 or 2209)
[tmc2209 stepper_x]
uart_pin: PC13
interpolate: false
run_current: .8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PB10    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 45 # 255 is most sensitive value, 0 is least sensitive

[stepper_y]
step_pin: PE11
dir_pin:  PE8
enable_pin: !PD7
rotation_distance: 39.66 #40*114.04/115
microsteps: 128
full_steps_per_rotation:200  
endstop_pin: tmc2209_stepper_y:virtual_endstop
#endstop_pin: PE12
position_endstop: 300
position_max: 300
homing_speed: 20
homing_retract_dist: 0


[tmc2209 stepper_y]
uart_pin: PE3
interpolate: false
run_current: .8
sense_resistor: 0.110
stealthchop_threshold: 0
diag_pin: ^PE12    # Set to MCU pin connected to TMC DIAG pin
driver_SGTHRS: 45 # 255 is most sensitive value, 0 is least sensitive

## Z0 Stepper - Front Left
##  Connected to MOTOR_2
##  Endstop connected to DIAG_2
[stepper_z]

step_pin: PE13
dir_pin: PC2
enable_pin: !PC0
endstop_pin: probe:z_virtual_endstop #PG8
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#position_endstop: -2.65
position_max: 260
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PE1
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z1 Stepper - Rear Left
##  Connected to MOTOR_3
[stepper_z1]
step_pin: PE14
dir_pin: !PA0
enable_pin: !PC3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0

##  Z2 Stepper - Rear Right
##  Connected to MOTOR_4
[stepper_z2]
step_pin: PD15
dir_pin: PE7
enable_pin: !PA3
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16


[tmc2209 stepper_z2]
uart_pin: PD1
interpolate: false
run_current:  0.8
sense_resistor: 0.110
stealthchop_threshold: 0


##  Z3 Stepper - Front Right
##  Connected to MOTOR_5
[stepper_z3]
step_pin: PD13
dir_pin: !PG9
enable_pin: !PF0
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PD6
interpolate: false
run_current: 0.8
sense_resistor: 0.110
stealthchop_threshold: 0


[heater_bed]
heater_pin: PD12
sensor_pin: PF3 # T0
sensor_type: Generic 3950
max_power: 0.6
min_temp: 0
max_temp: 120
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769


# Inductive probe on EBB PB9, retired 2026-10-07 (replaced by the Eddy Duo, eddy.cfg)
#[probe]
#pin: ~!EBBCan:PB9
#x_offset: 0
#y_offset: 25.0
##z_offset: 2.650
#speed: 5
#samples: 3
#samples_result: median
#sample_retract_dist: 3.0
#samples_tolerance: 0.015
#samples_tolerance_retries: 10


##  Controller fan - FAN2
[controller_fan controller_fan]
pin: PE6
kick_start_time: 0.5
heater: heater_bed

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_<MCU_SERIAL>-if00

[input_shaper]
#shaper_freq_x: 71.2 #Hz
#shaper_type_x: 3hump_ei 
#shaper_freq_y: 30.4
#shaper_type_y: mzv

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 15          #Max 15 for 12V TMC Drivers, can increase for 24V
max_z_accel: 350
square_corner_velocity: 5.0

[gcode_arcs]
resolution: 0.5
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

#####################################################################
#   Homing and Gantry Adjustment Routines
#####################################################################

[idle_timeout]
timeout: 1800
# After 30 min idle: heaters off now, motors off 90 min later (2 h total) unless the
# printer was used again. Keeping motors on preserves homing/QGL between prints.
gcode:
    TURN_OFF_HEATERS
    UPDATE_DELAYED_GCODE ID=_DELAYED_MOTORS_OFF DURATION=5400

[homing_override]
axes: xyz
gcode:
    # Sensorless XY homing: low current, stall flag settle time, back-off between axes.
    # SGTHRS comes from driver_SGTHRS in the [tmc2209] sections (nothing overrides it at runtime).
    {% set HOME_CUR = 0.8 %}
    {% set x_run = printer.configfile.settings['tmc2209 stepper_x'].run_current %}
    {% set y_run = printer.configfile.settings['tmc2209 stepper_y'].run_current %}
    {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

    # Lift the nozzle before moving XY, only if Z position is unknown
    # If Z is already homed and near the top, come down first: the tight cable chain
    # at full height can make sensorless X/Y homing stall early.
    {% if 'z' in printer.toolhead.homed_axes and printer.toolhead.position.z > 150 %}
        G90
        G0 Z150 F900
    {% endif %}

    {% if home_all and 'z' not in printer.toolhead.homed_axes %}
        SET_KINEMATIC_POSITION Z=0 SET_HOMED=Z
        G91
        G0 Z10 F600
        SET_KINEMATIC_POSITION SET_HOMED=none CLEAR_HOMED=Z
    {% endif %}
    G90

    # Back off the XY max end stops first: a carriage already against the frame (e.g. parked
    # at Y300) stalls on the first step and "homes" X without moving.
    {% if home_all or 'X' in params or 'Y' in params %}
        {% if 'x' in printer.toolhead.homed_axes and 'y' in printer.toolhead.homed_axes %}
            G0 X{[printer.toolhead.position.x, 280]|min} Y{[printer.toolhead.position.y, 280]|min} F3600
        {% else %}
            # Position unknown: short blind move towards front-left (away from the XY end stops)
            SET_KINEMATIC_POSITION X=150 Y=150 SET_HOMED=XY
            G91
            G0 X-10 Y-10 F1200
            G90
            SET_KINEMATIC_POSITION SET_HOMED=none CLEAR_HOMED=XY
        {% endif %}
    {% endif %}

    {% if home_all or 'X' in params %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        G4 P2000
        G28 X
        G0 X290 F3600
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run}
    {% endif %}

    {% if home_all or 'Y' in params %}
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={HOME_CUR}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={HOME_CUR}
        G4 P2000
        G28 Y
        G0 Y290 F3600
        SET_TMC_CURRENT STEPPER=stepper_x CURRENT={x_run}
        SET_TMC_CURRENT STEPPER=stepper_y CURRENT={y_run}
    {% endif %}

    {% if home_all or 'Z' in params %}
        G0 X150 Y150 F18000
        G28 Z
        SET_Z_FROM_PROBE           ; eddy homing correction (eddy.cfg)
        G0 Z20 F600
    {% endif %}

##  Use QUAD_GANTRY_LEVEL to level a gantry.
##  Min & Max gantry corners - measure from nozzle at MIN (0,0) and 
##  MAX (250, 250), (300,300), or (350,350) depending on your printer size
##  to respective belt positions
[quad_gantry_level]

gantry_corners:
   -60,-10
   360,370
##  Probe points
points:
   50,50
   50,250
   250,250
   250,50

speed: 300                  # travel between points, as fast as the eddy rapid_scan (was 75)
horizontal_move_z: 10
retries: 10
retry_tolerance: 0.0150
max_adjust: 10

[bed_mesh]
##----------------------300mm build-------------------------------------
speed: 200                   # rapid_scan: 500 left a +/-4ms sample window per point; dropped CAN samples failed the mesh
horizontal_move_z: 2         # eddy (was 10 for the inductive probe)
adaptive_margin: 15
mesh_min: 25, 25
mesh_max: 275, 275
zero_reference_position: 150,171.4 # eddy XY when Z homes (nozzle at 150,150, eddy y_offset 21.42)
fade_start: 0.6
fade_end: 10.0
probe_count: 21,21         # ~12.5 mm spacing (2026-10-09: 9x9 missed up to 0.09 mm of the bed dish, 15x15 up to 0.08 mm in the front-left corner); adaptive meshes keep this spacing
algorithm: bicubic
##--------------------------------------------------------------------


########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PG4, EXP1_3=PD11, EXP1_5=PG2, EXP1_7=PG6, EXP1_9=<GND>,
    EXP1_2=PA8, EXP1_4=PD10, EXP1_6=PG3, EXP1_8=PG7, EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PB14, EXP2_3=PG10, EXP2_5=PF11, EXP2_7=PF12,  EXP2_9=<GND>,
    EXP2_2=PB13, EXP2_4=PB12, EXP2_6=PB15, EXP2_8=<RST>, EXP2_10=PF13
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "spi2"

##  Mini12864 (FYSETC / BTT) on EXP1/EXP2
[display]
lcd_type: uc1701
cs_pin: EXP1_3
a0_pin: EXP1_4
rst_pin: EXP1_5
encoder_pins: ^EXP2_5, ^EXP2_3
click_pin: ^!EXP1_2
contrast: 63
spi_software_miso_pin: EXP2_1
spi_software_mosi_pin: EXP2_6
spi_software_sclk_pin: EXP2_2
menu_timeout: 40

[neopixel btt_mini12864]
pin: EXP1_6
chain_count: 3
color_order: RGB
initial_RED: 0.4
initial_GREEN: 0.4
initial_BLUE: 0.4

[output_pin beeper]
pin: EXP1_1

#--------------------------------------------------------------------

# See the sample-lcd.cfg file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 77.0
#*# shaper_type_y = mzv
#*# shaper_freq_y = 42.6
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 39.273
#*# pid_ki = 1.179
#*# pid_kd = 326.951
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3179633.160,0.090000:3179511.066,0.130000:3179388.975,
#*# 	0.170000:3179238.954,0.210000:3179100.820,0.250000:3178975.618,
#*# 	0.290000:3178847.630,0.330000:3178706.850,0.370000:3178578.851,
#*# 	0.410000:3178461.943,0.450000:3178327.918,0.490000:3178196.712,
#*# 	0.530000:3178086.573,0.570000:3177960.602,0.610000:3177844.530,
#*# 	0.650000:3177722.440,0.690000:3177614.476,0.730000:3177497.806,
#*# 	0.770000:3177375.698,0.810000:3177259.040,0.850000:3177172.147,
#*# 	0.890000:3177049.766,0.930000:3176940.322,0.970000:3176842.189,
#*# 	1.010000:3176737.440,1.050000:3176642.096,1.090000:3176541.485,
#*# 	1.130000:3176454.875,1.170000:3176348.033,1.210000:3176253.326,
#*# 	1.250000:3176154.024,1.290000:3176059.431,1.330000:3175971.347,
#*# 	1.370000:3175880.528,1.410000:3175785.091,1.450000:3175706.556,
#*# 	1.490000:3175609.871,1.530000:3175525.908,1.570000:3175446.614,
#*# 	1.610000:3175366.416,1.650000:3175275.099,1.690000:3175191.783,
#*# 	1.730000:3175114.585,1.770000:3175025.540,1.810000:3174950.974,
#*# 	1.850000:3174874.173,1.890000:3174797.001,1.930000:3174721.641,
#*# 	1.970000:3174642.942,2.010000:3174566.574,2.050000:3174499.362,
#*# 	2.090000:3174422.564,2.130000:3174348.171,2.170000:3174282.864,
#*# 	2.210000:3174213.985,2.250000:3174153.228,2.290000:3174076.624,
#*# 	2.330000:3174010.713,2.370000:3173939.938,2.410000:3173878.781,
#*# 	2.450000:3173813.320,2.490000:3173750.636,2.530000:3173679.432,
#*# 	2.570000:3173626.449,2.610000:3173552.585,2.650000:3173496.430,
#*# 	2.690000:3173436.391,2.730000:3173379.192,2.770000:3173329.761,
#*# 	2.810000:3173265.213,2.850000:3173215.181,2.890000:3173157.788,
#*# 	2.930000:3173097.453,2.970000:3173041.402,3.010000:3172987.604,
#*# 	3.050000:3172938.316,3.090000:3172888.867,3.130000:3172829.028,
#*# 	3.170000:3172781.682,3.210000:3172738.277,3.250000:3172685.008,
#*# 	3.290000:3172628.256,3.330000:3172576.311
#*# tap_z_offset = -0.030
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 43.972396
#*# drift_calibration =
#*# 	3180556.917564, -81.473040, 1.189953
#*# 	3177216.880879, -0.543101, 0.297946
#*# 	3172998.878663, 128.580447, -1.110571
#*# 	3170934.240856, 171.068688, -1.567493
#*# 	3168406.318181, 242.092726, -2.347654
#*# 	3166428.859473, 294.656449, -2.928258
#*# 	3164530.445143, 348.506260, -3.515590
#*# 	3162856.101522, 395.681739, -4.021958
#*# 	3162648.707028, 382.511200, -3.877087
#*# drift_calibration_min_temp = 39.281360139162366
